<h4><%= link_to "Back to List of Challenges", root_path %></h4>

<div class="challenges">
  <h2 id='make-my-background-yellow'>Make My Background Yellow!</h2>
  <h2 id='make-my-background-purple'>Make My Background Purple!</h2>
  <h2 id='make-me-red'>Make Me Red!</h2>
  <h2 id='make-me-blue'>Make Me Blue!</h2>
  <h2 id='make-my-border-black'>Make My Border Black!</h2>
  <h2 id='make-my-border-orange'>Make My Border Orange!</h2>
</div>
