<h4><%= link_to "Back to List of Challenges", root_path %></h4>

<div class="challenges">
  <h4>Delete Me!</h4>
  <h4>Delete Me Too!</h4>
  <h4>Delete Me As Well!</h4>
  <h4>Delete Me! Delete Me!</h4>
  <h4>Delete Me Now!</h4>
  <h4>Delete Me! No one would even care :-(</h4>
</div>
