<h4><%= link_to "Back to List of Challenges", root_path %></h4>

<div class="challenges">
  <h2 id='make-me-disappear'>Make Me Disappear!</h2>
  <h2><span id='make-me-appear'>Make Me Appear!</span>
    &larr; there is text here, make it appear!</h2>
</div>
